fastapi
uvicorn[standard]  # Uvicorn with "standard" extras includes `uvloop` and `httptools`
httpx  # Recommended for async requests, if you are using in the future
pydantic  # Data validation by using Pydantic models
aiofiles  # For asynchronous file operations
requests  # Used for making HTTP requests
gradio  # For integrating Gradio, if you're using its interface
omegaconf==2.3.0
Pillow==10.1.0
einops==0.7.0
git+https://github.com/tatsy/torchmcubes.git
trimesh==4.0.5
rembg
huggingface-hub
imageio[ffmpeg]
gradio
xatlas==0.0.9
moderngl==5.10.0
